body {
  overflow: hidden;
}

.App {
  background-image: url("/src/logo.jpg");
  background-position: center;
  position: relative;
  right: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.title {
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
  position: relative;
  top: 20px;
  left: 220px;
  font-size: 30px;
}

.footer {
  position: absolute;
  top: 650px;
  left: 800px;
}
