.hero-title {
  font-weight: 900;
  margin-bottom: 0;
  color: white !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2.5px black;
  position: relative;
  top: 80px;
  left: 500px;
}
