.Dictionary {
  margin-left: 80px;
  margin-top: 20px;
}

.Dictionary input {
  width: 25%;
  border-radius: 6px;
  margin-left: 50px;
}

.Dictionary .hint {
  font-size: 13px;
  margin-top: 5px;
  margin-left: 50px;
}
.search {
  height: 40px;
  margin-right: 5px;
}

@media (max-width:800px){
.Dictionary input{
  width: 40%;
}
.Dictionary {
  margin-left: -10px;
  max-width: 60%;
}
}