.Dictionary {
  position: relative;
  top: 30px;
  left: 175px;
  max-width: 487px;
}

.Dictionary input {
  width: 55%;
  border-radius: 6px;
}

.Dictionary .hint {
  font-size: 13px;
  margin-top: 5px;
}
.search{
  height: 40px;
  margin-right: 5px;
}
