.Meaning {
  width: 60vw;
}

.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .example {
  color: #70757a;
  font-style: italic;
}

@media (max-width: 800px) {
  .Meaning {
    width: 80vw;
    font-size: 26px;
  }
}
