.Phonetic a {
  border: 1px solid black;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
  margin: 10px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  color: #9670f4;
}

.Phonetic a:hover {
  background: #9670f4;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
